In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:97% !important; }</style>"))

import scoring as score # para hacer los reportes de puntajes
from time import time

import jupyternotify
ip = get_ipython()
ip.register_magics(jupyternotify.JupyterNotifyMagics)

test_samples = pd.read_csv('datos/properati_dataset_testing_noprice.csv')
test_samples.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14166 entries, 0 to 14165
Data columns (total 17 columns):
id                         14166 non-null int64
created_on                 14166 non-null object
property_type              14166 non-null object
operation                  14166 non-null object
place_name                 14166 non-null object
place_with_parent_names    14166 non-null object
country_name               14166 non-null object
state_name                 14166 non-null object
lat-lon                    10487 non-null object
lat                        10487 non-null float64
lon                        10487 non-null float64
surface_total_in_m2        11853 non-null float64
surface_covered_in_m2      13005 non-null float64
floor                      1368 non-null float64
rooms                      7500 non-null float64
expenses                   2543 non-null object
description                14166 non-null object
dtypes: float64(6), int64(1), object(10)
memory usage: 1.8+ MB

In [2]:
def rellenar_superficie(row):
    if ( np.isnan(row.surface_total_in_m2) and not(np.isnan(row.surface_covered_in_m2)) ): #si no tiene la sup total usa la descubierta como total 
        row.surface_total_in_m2 = row.surface_covered_in_m2
    if ( np.isnan(row.surface_covered_in_m2) and  not(np.isnan(row.surface_total_in_m2 ))): #si no tiene la sup total usa la descubierta como total 
        row.surface_covered_in_m2 = row.surface_total_in_m2
    return row
test_samples = test_samples.apply(rellenar_superficie,axis=1)
test_samples.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14166 entries, 0 to 14165
Data columns (total 17 columns):
id                         14166 non-null int64
created_on                 14166 non-null object
property_type              14166 non-null object
operation                  14166 non-null object
place_name                 14166 non-null object
place_with_parent_names    14166 non-null object
country_name               14166 non-null object
state_name                 14166 non-null object
lat-lon                    10487 non-null object
lat                        10487 non-null float64
lon                        10487 non-null float64
surface_total_in_m2        13392 non-null float64
surface_covered_in_m2      13392 non-null float64
floor                      1368 non-null float64
rooms                      7500 non-null float64
expenses                   2543 non-null object
description                14166 non-null object
dtypes: float64(6), int64(1), object(10)
memory usage: 1.8+ MB

In [3]:
import re
test_samples['property_type']=test_samples['property_type'].replace(to_replace=['departamento','ph','casa'],value=['apartment','PH','house'])
test_samples['surface_total_in_m2']=test_samples['surface_total_in_m2'].fillna(value=204)
test_samples['surface_covered_in_m2']=test_samples['surface_covered_in_m2'].fillna(value=115)
test_samples.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14166 entries, 0 to 14165
Data columns (total 17 columns):
id                         14166 non-null int64
created_on                 14166 non-null object
property_type              14166 non-null object
operation                  14166 non-null object
place_name                 14166 non-null object
place_with_parent_names    14166 non-null object
country_name               14166 non-null object
state_name                 14166 non-null object
lat-lon                    10487 non-null object
lat                        10487 non-null float64
lon                        10487 non-null float64
surface_total_in_m2        14166 non-null float64
surface_covered_in_m2      14166 non-null float64
floor                      1368 non-null float64
rooms                      7500 non-null float64
expenses                   2543 non-null object
description                14166 non-null object
dtypes: float64(6), int64(1), object(10)
memory usage: 1.8+ MB

In [4]:
test_samples.to_csv('datos/properati_dataset_testing_noprice_acondicionado.csv',index=False)

## Agrego los barrios que no aparecieron hasta ahora en nuestro train

In [5]:
properati_completo = pd.read_csv('datos/properati_final.csv') # habria que sacar solo la columna que necesitamos de aca nomas

In [6]:
properati_completo = properati_completo["place_name"]

In [7]:
properati_completo=properati_completo.append(pd.Series("Barrio Cerrado Malibú",index=[len(properati_completo)]))

In [8]:
properati_completo=properati_completo.append(pd.Series("Buenos Aires Interior",index=[len(properati_completo)]))

In [9]:
properati_completo=properati_completo.append(pd.Series("Villa Brown",index=[len(properati_completo)]))

In [10]:
properati_completo=properati_completo.append(pd.Series("Villa Numancia",index=[len(properati_completo)]))

In [11]:
properati_completo=properati_completo.append(pd.Series("Villa España",index=[len(properati_completo)]))

In [12]:
properati_completo=properati_completo.append(pd.Series("Los Pingüinos Country Club",index=[len(properati_completo)]))

In [13]:
properati_completo.to_csv('datos/todos_los_barrios.csv',index=False,header="place_name")